body{
    background-color: #070001;
}

#timer{
        margin: 0 auto;
    height: 68vh;
    width: 85vw;
    text-align: center;
    padding-top: 13vh;
}

#timer-display{
    font-family: Consolas, monaco, monospace;
    color: #EA1700;
    font-size:27vw;
}

button{
    margin:10px;
    font-size:48px;
    width:100px;
}
